input{
    
        position: relative;
        left: 5%;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 223.7px;
        height: 31px;
        font-size: 120%;
        color: rgb(255, 255, 255);
        background-color: black;
        border: 2px solid white;
        border-radius: 10px;
        padding: 0px -1px 7px -2px;
        background-repeat: no-repeat;
        background-position: 8px 9px;
        display: block;
        margin-bottom: 9px;
}
input:hover{
    background-color: rgb(255, 94, 0);
    color: black;
}
input:focus{
    background-color: rgb(255, 0, 43);
    border: 1px solid red;
}
input.email{
    
    position: relative;
left: 21%;
background-color: rgb(41, 230, 205);
    width: 223.7px;
        height: 31px;
  background-image: url("img/Just-Cause-2-1.ico"  );
  background-size: 30px;
  background-position: left;

}
input.url{  
    position: relative;
left: 23.5%;
background-color: rgb(93, 187, 93);
    background-image: url("img/Left-4-Death-1.ico"  );
    background-size: 30px;
    background-position: left;    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;}
    input.comment{  
        width: 40vw;
        height: 9vh; 
        
        background-color: rgba(104, 13, 13, 0.835);
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
        background-image: url("img/Need-for-Speed-Most-Wanted-4.ico"  );
        background-size: 50px;
        background-position: left;
        position: relative;
left: 18%;
    }
    fieldset{
        width: 60vw;
        height: 50vh;
        border: 4px double black;
        border-radius: 12px ;
       padding: auto;
        text-align: left;
        text-transform: uppercase;
     
        font-size: 23px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    }
    legend{
        background-color: rgb(179, 84, 135);
        width: 10vw;
        height: 3vh;
border: 4px double #000000;
border-radius: 12px;

text-align: center;
text-transform: uppercase;
font-size: 17px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

    }
    legend:hover{
        background-color: 
        rgba(255, 0, 0, 0.623);
        cursor: none;
    }
    p{
        position: relative;
        left: 7vw;
        
    display: flex;
    justify-content: left;
    text-align: center;}
    .submit{
        width: 13vw;
        height: 4vh;
        position: relative;
        left: 37vw;
        text-align: center;
        align-items: center;
        font-size: small;
        background-color: rgb(38, 148, 75);
    }
    #btn{
        position: relative;
        left: 23vw;
        
        bottom: 3.5vh;
        border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-family: initial;
    padding: 3px 22px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    }